Statistical sampling/db_carmen_raw.xlsx
Statistical sampling/~$db_carmen_raw.xlsx
Statistical sampling/Muestra urbana Carmen de Viboral.xlsx
Statistical sampling/Muestra no residencial Carmen.xlsx
Statistical sampling/~$Muestra no residencial Carmen.xlsx
Statistical sampling/nr_codes_to_change.xlsx
Statistical sampling/density_urban.xlsx
Statistical sampling/total_codes_sampling.xlsx
Statistical sampling/density_codes_stage_1.xlsx
Statistical sampling/density_rural_nr.xlsx
Statistical sampling/Puntos_EPM_2022_Zona_Rural.xlsx
Statistical sampling/rural_raw.xlsx
Statistical sampling/rural_sample.xlsx
