Statistical sampling/db_carmen_raw.xlsx
Statistical sampling/~$db_carmen_raw.xlsx
Statistical sampling/Muestra urbana Carmen de Viboral.xlsx
Statistical sampling/Muestra no residencial Carmen.xlsx
Statistical sampling/~$Muestra no residencial Carmen.xlsx
Statistical sampling/nr_codes_to_change.xlsx
Statistical sampling/density_urban.xlsx
Statistical sampling/total_codes_sampling.xlsx
